<div class="main-container">
  <nav #enable class="fade-element">
    <div class="close-btn">
      <button (click)="openNavMenu()"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
          class="bi bi-x" viewBox="0 0 16 16">
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
        </svg></button>
    </div>
    <a href="/dashboard"> <div class="logochapeu">
    </div></a>

    <div class="links-options">
      <div class="menu">
        <h3>Menu</h3>
        <ul>
          <li><a href="/agendar-eventos">Agendar eventos</a></li>
          <li><a href="/check-list">Check-list</a></li>
          <li><a href="/equipe">Equipe</a></li>
          <li><a href="/financeiro">Financeiro</a></li>
        </ul>
      </div>
      <div class="eventos">
        <h3>Eventos</h3>
        <ul>
          <li><a>Agendados</a></li>
          <li><a>Confirmados</a></li>
          <li><a>Não confirmados</a></li>
        </ul>
      </div>
    </div>





  </nav>
  <section>

    <div class="top-menu">
      <div class="burger-btn">
        <button (click)="openNavMenu()">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
          </svg>
        </button>
      </div>
      <div class="content">
        <ng-content>
        </ng-content>
      </div>
    </div>



  </section>
</div>