.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
 

}




section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../assets/image/mr-drink.png);
  background-color: rgba(0, 0, 0, 0.380);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;



  .top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1rem .5rem;







    .burger-btn {
      display: flex;
      align-self: flex-start;
      width: 25px;
      height: 25px;

    }

    .burger-btn button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
      margin: 0;

    }

    .burger-btn svg {
      color: white;
    }

    .burger-btn svg:hover {
      color: red;
    }


    .content {
      flex-grow: 1;
    }

  }
}

nav {
  background-color: black;
  border-right: 1px solid red;
  width: 200px;
  height: 100vh;
  border-radius: 0px 15px 15px 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  visibility: hidden;
  z-index: 2;
  


  .close-btn {
    display: flex;
    align-self:flex-end ;
    padding: .5rem;
    justify-content: end;

  }

  .close-btn button {
    padding: 0;
    margin: 0;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;

  }

  .close-btn button:hover {
    svg {
      color: red;
    }
  }

  .close-btn svg {
    color: white;

  }

  .logochapeu {
    display: flex;
    background-image: url(../../../assets/image/mr-drink-chapeu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 110px;
  }

  .links-options {

    margin-top: 2.5rem;

    div {
      margin-bottom: 3rem;

    }


    ul {
      color: white;
      list-style-type: none;
      font-weight: bold;
      font-size: medium;


    }

    li {
      margin-bottom: 1rem;

    }

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: red;

    }


    h3 {
      color: red;
      text-align: center;

    }
  }

}