.options-event   {
 display: flex;
 flex-wrap: wrap !important;
 overflow-x: hidden;
 flex-direction: row;
 margin-top: 3rem;
 gap: 10px;
 background-color: rgba(255, 255, 255, 0.514);
 padding: 1rem;
 border-radius: 10px;



}
.options-event > * { 
    min-width: 150px; 
    flex: 1; 

}
.form-control{
    padding: 1rem;
}

.input-group span{
    height: 58px;
}
.form-select, .dropdown-toggle{
    height: 58px;
}


button{
    background-color: white;
    color: black;
}
button:hover,
input:hover{
    background-color: rgba(255, 255, 255, 0.767);
    color: black;
}

.btn-outline-primary {
    border-radius: 0 10px 10px 0;
    border-color: transparent;
}

select:hover {
    background-color: rgba(255, 255, 255, 0.767);
}

.d-grid{
    display: flex;
}


.calendar{
    margin-top: 4rem;
    color: white;

}




.option-calendar{
    margin-top: 5rem;
    
    h2{
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: xx-large;
    }

}
.calendar-container {
    background-color: rgba(255, 255, 255, 0.514);
    
    padding: 2rem .5rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    gap: .5rem;
  }
  
  .month {
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.822);
    border-radius: 8px;
    text-align: center;
  }
  
  .days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 0px;

    span{
        border: 1px solid rgb(167, 167, 167);
        padding: 4px;
        

    }
  }

  .week-days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .week-day {
    text-align: center;
  }
  
  .highlighted-confirmed {
    background-color: red;
    color: white;
    
  }
  .highlighted-schedule{
    background-color: orange;
    color: white;

  }

  option:disabled {
    color: red;
}

.filter-color{
    border: none;
    

}
.filter-color:disabled{
    border: 1px solid black;
    background-color: lightgray;
    color: rgb(134, 134, 134);
    

}

.snackbar-success {
    background-color: #28a745 !important;
    color: white;
  }
  
  .snackbar-error {
    background-color: #dc3545 !important;
    color: white;
  }
  
  .snackbar-warning {
    background-color: #ffc107 !important;
    color: black;
  }
  

