.options-event   {
 display: flex;
 flex-wrap: wrap !important;
 overflow-x: hidden;
 flex-direction: row;
 margin-top: 3rem;
 gap: 10px;
 background-color:  rgba(46, 46, 46, 0.5);
 padding: 1rem;
 border-radius: 10px;



}
.options-event > * { 
    min-width: 150px; 
    flex: 1; 

}
.form-control{
    padding: 1rem;
    background-color: #414141;
    border: 1px solid red;
    color: white;
    
}



.input-group span{
    height: 58px;
    background-color: #414141;
    border: 1px solid red;
    color: white;
}
.form-select, .dropdown-toggle{
    height: 58px;
    background-color: #414141;
    border: 1px solid red;
    color: white;
}
.dropdown-menu {
  background-color:#414141 ;

}
.label-data-evento{
  color: white !important;
  font-weight: 400 !important;
}

.form-floating > label::before,
.form-floating > label::after {
  display: none !important;

}


input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
}






.btn-outline-primary {
    border-radius: 0 10px 10px 0;
    border: 1px solid red;
    color:white;
}
label {
  color: white;

}

.btn-confirm{
  background-color: red;
  border: none;
  color: white;
}
.btn-confirm:hover{
  background-color: rgba(197, 0, 0, 0.884);
}

.btn-agend{
  background-color: #ffc107;
  border: none;
  color: white;
}
.btn-agend:hover{
  background-color: #ce9a00;
  border: none;
  color: white;
}



select:hover {
  background-color: rgb(75, 75, 75);
}

.d-grid{
    display: flex;
}


.calendar{
    margin-top: 4rem;
    color: white;

}




.option-calendar{
    margin-top: 5rem;
    
    h2{
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: xx-large;
    }

}
.calendar-container {
    background-color: rgba(46, 46, 46, 0.5);
    
    padding: 2rem .5rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    gap: .5rem;
  }
  
  .month {
    padding: 10px;
    border: 1px solid red;
    color: white;
    background-color: rgba(34, 34, 34, 0.932);
    border-radius: 8px;
    text-align: center;
  }
  
  .days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 0px;
    color: white;

    span{
        border: 1px solid white;
        padding: 4px;

    }
  }

  .week-days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .week-day {
    text-align: center;
    color: white;
  }
  
  .highlighted-confirmed {
    background-color: red;
    color: white;
    
  }
  .highlighted-schedule{
    background-color: orange;
    color: white;

  }

  option:disabled {
    color: red;
}

.filter-color{
    border: none;
    background-color: rgba(20, 20, 20, 0.836);
    color: rgba(122, 122, 122, 0.856);
    

}
.filter-color:disabled{
    border: 1px solid black;
    background-color:  rgba(206, 0, 0, 0.973);
    color: white;
    

}

.snackbar-success {
    background-color: #28a745 !important;
    color: white;
  }
  
  .snackbar-error {
    background-color: #dc3545 !important;
    color: white;
  }
  
  .snackbar-warning {
    background-color: #ffc107 !important;
    color: black;
  }

  .container-cancel{
    margin: 1rem;
    display: flex;

  }
  .container-cancel button{
    background-color: transparent;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: .5rem;
    border: 1px solid red;
  }

  .cancel-event{
    display: flex;
    flex-direction: column;
    background-color:  rgba(46, 46, 46, 0.5);
    margin: 1.2rem 0;
    padding:  .5rem;
    border-radius: 10px;    


    h3{
      display: flex;
      max-width: 40vw;
      color: white;
    }

    select {
      background-color: #414141 ;
      border-radius: 10px;
      color: white;
      padding: .3rem;
      border: 1px solid red;
      margin: 1.2rem 0;
    }

    .btn-delete{
      display: flex;
      align-self: center;
    }

    .btn-delete button{
      max-width: 20vw;
      background-color: red;
      border: 1px solid black;
      font-weight: 600;
      border-radius: 15px;
      padding: .3rem ;
      color: white;

    }
    .btn-delete button:hover{
      background-color: rgba(255, 0, 0, 0.377);
      cursor: pointer;
 

    }


  }

  

