
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}@import "bootstrap/dist/css/bootstrap.min.css";

.welcome h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: x-large;

}

.content{
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  overflow: auto;
  flex-wrap: wrap;
  box-sizing: border-box;
}
h1,h2{
  color: white;
}

*{
  ::-webkit-scrollbar-track {
    background-color: #000000;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: black;
    border: 1px solid red;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(253, 22, 22, 0.76);
  border: none;
  cursor: pointer;
}
}
.avaliable{
    display: inline-block;
    width:10px;
    height: 10px;
    margin-right: .5rem;
    border-radius: 10px;
   background-color: green;
}
.unavaliable{
  width: 10px;
    height: 10px;
    margin-right: .5rem;
    border-radius: 10px;
  background-color: red;

}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
