@import "bootstrap/dist/css/bootstrap.min.css";

.welcome h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: x-large;

}

.content{
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  overflow: auto;
  flex-wrap: wrap;
  box-sizing: border-box;
}
h1,h2{
  color: white;
}

*{
  ::-webkit-scrollbar-track {
    background-color: #000000;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: black;
    border: 1px solid red;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(253, 22, 22, 0.76);
  border: none;
  cursor: pointer;
}
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
