<app-mainTemplate>
    <div class="welcome">
        <h1>Financeiro</h1>
    </div>
    <div class="content">
        <div class="results">
            <div class="billed">
                <h2>Faturamento</h2>
                <h3>{{totalBudget}}</h3>

            </div>
            <div class="profit">
                <h2>Lucro</h2>
                <h3></h3>

            </div>
            <div class="expenses">
                <h2>Despesas</h2>
                <h3></h3>

            </div>

            <div class="expenses-extras">
                <h2>Despesas Extras</h2>

                <div class="form-expenses">
                    <select name="" id="">
                        <option value=""></option>
                    </select>

                    <label for="">Despesas</label>
                    <input type="text">
                    <label for="">Valor</label>
                    <input type="number">

                    <label for="">Outros</label>
                    <input type="text" name="" id="">
                    <label for="">Valor</label>
                    <input type="number">

                </div>
            </div>
        </div>
    </div>
    
</app-mainTemplate>

