.content {
    display: flex;
    justify-content: space-around;
    margin: 2.5rem 0;
}

.title{
    color: white;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.availabiity {

    display: flex;
    flex-direction: column;
    min-width: 250px;
    background-color: rgba(46, 46, 46, 0.5);
    padding: .8rem .8rem;
    border-radius: 10px;
    
    li {
        color: white;

    }
    

    .add-collaborator{
        display: flex;
        align-self: center;
    }
}