.box {
    display: flex;
    justify-content: space-around;
    margin: 2.5rem 0;
}

.title{
    color: white;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.availabiity {

    display: flex;
    flex-direction: column;
    min-width: 250px;
    background-color: rgba(46, 46, 46, 0.5);
    padding: .8rem .8rem;
    border-radius: 10px;
    
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        list-style-type: none;

        span {
            width: 10px;
            height: 10px;
            margin-right: .5rem;
            border-radius: 10px;
           
        }
        .avaliable{
            background-color: green;
        }
        .unavaliable{
            background-color: red;

        }

    }
    

    .add-collaborator{
        display: flex;
        align-self: center;
    }
}
.box-events{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    background-color: rgba(46, 46, 46, 0.5);
    padding: .8rem .8rem;
    border-radius: 10px;

    ul{
        list-style-type: none;

    }
    
    .informations-event{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        
        .child{
            width: calc(20.33% - 10px);
        }
        .child:last-child{
        width: 100%;
        }

    }



}