* {
    box-sizing: border-box;
  }
.box {
    display: flex;
    justify-content: space-around;
    margin: 2.5rem 0;
}

.title{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.availabiity {

    display: flex;
    flex-direction: column;
    min-width: 250px;
    background-color: rgba(46, 46, 46, 0.5);
    padding: .8rem .8rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    
    li {
        display: flex;
       
        flex-direction: row;
        align-items: center;
        color: white;
        list-style-type: none;  

    }
    

    .add-collaborator{
        display: flex;
        align-self: center;
    }
    
}

.buttons-collaborator{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.btn-add-collaborator button{
    background-color:transparent ;
    border: 1px solid red;
    color: red;
    
}
.btn-add-collaborator button:hover{
    background-color:red ;
    color: black;
    transition: .3s;
    

}
.btn-remove-collaborator button{
    background-color:red ;
    border: 1px solid black;
    color: black;
    
}
.btn-remove-collaborator button:hover{
    background-color:transparent ;
    color: red;
    border: 1px solid red;
    transition: .3s;
    

}
.box-events{
    display: flex;
    flex-direction: column;
    max-height: 450px;
    background-color: rgba(46, 46, 46, 0.5);
    padding: .8rem .8rem;
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    align-content:center;
    

    

    ul{
        list-style-type: none;
        max-height: 500px;

    }
    .align{       
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        background-color:  rgba(110, 110, 110, 0.103);
     
          
      
        border-radius: 15px;
        margin: 1rem 0;
        padding: .5rem .5rem;

        .photo-event{
            display: block;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            margin: .5rem;
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }

    }
    .informations-event{
        display: flex;
        flex-wrap: wrap;
        width: 72vh;
        justify-content: center;
        gap: 0px 10px;
        
        
        
        .child{
            width: calc(30%);

            p{
                font-size: 16px;
                word-wrap: break-word;
                overflow: hidden;
                
            }
    
        }
        .child:last-child{
            flex: 1;
            }

    }
    



}
.add-collaborator-container{
    margin-top: 20px;

    .close-btn button{
        background-color: transparent;
        border: none;
        color: red;
        font-weight: bolder;
        font-size: medium;
    }

    .close-btn{
        margin-bottom: 1rem ;

    }
    
    form {   
        display: flex;
        flex-direction: column;
        
        }

    h2, label {
        color: white;
        font-weight: bold;

    }
    
    input{
        border: none;
        border-radius: 10px;
        margin-bottom:1.5rem ;
        background-color: rgba(255, 255, 255, 0.973);
        padding: 5px 10px;
    }

    button[type="submit"]{
        border: none;
        border-radius: 10px;
        background-color:  rgba(34, 34, 34, 0.548);
        color: red;
    }

    button[type="submit"]:hover{
        background-color:  rgba(80, 80, 80, 0.548);
        color: rgba(197, 0, 0, 0.774);
         font-size: large;
         font-weight: bold;
         transition: .5s;
    }

    input[type="radio"]:checked{
       accent-color: red;
    }
}
