<app-mainTemplate>
    <div class="welcome">
        <h1>Equipe</h1>
    </div>
    <div class="content">
        <div class="availabiity">
            <div class="title">
                <span>disponibilidade</span>
            </div>
            <ul>
                <li><h2>{{userName}}</h2></li>
            </ul>
        </div>
        <div class="events">
            <div class="title">
                <span>eventos</span>
            </div>


        </div>

    </div>
    <div class="add-collaborator">
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button">Adicionar colaborador</button>
        </div>
    </div>
</app-mainTemplate>
