<app-mainTemplate>
    <div class="welcome">
        <h1>Bem-vindo {{userName}}</h1>
    </div>
    <div class="content">
        <ul>
            <li>
                <a>
                    <div class="agendados">
                        <h3>Eventos agendados</h3>
                        <h2>{{agendados}}</h2>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div class="nao-confirmados">
                        <h3>Aguardando Confirmação</h3>
                        <h2>{{naoConfirmados}}</h2>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div class="confirmados">
                        <h3>Confirmados</h3>
                        <h2>{{confirmados}}</h2>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</app-mainTemplate>