.content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    div {
        flex: 1 1 300px;
        max-width: 300px;
    }


}


.choose-menu {
    background-color: rgba(46, 46, 46, 0.5);
    border-radius: 10px;
    margin: 1.2rem;
    padding: .8rem;

}

.title {
    margin: 1.2rem 0;
    text-align: center;

    h2 {
        color: white;

    }


}

.confirm-menu {
    max-height: 100px;

    h3 {
        color: white;
        text-align: center;
    }

    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;

    select {
        background-color: #414141;
        color: white;
    }

    label {
        color: white;
        background-color: transparent !important;
    }


}


.form-floating label::after {
    background-color: transparent !important;

}

input {
    background-color: #414141;
    color: white;


}

.mt-2 {
    display: flex;

}

input::placeholder {
    color: white !important;
}

.btn {
    display: flex;
    justify-content: space-between;

    button {
        background-color: transparent;
    }

}

.menu {
    border: 1px solid red;
    padding: .8rem;
    border-radius: 10px;
    background-color: black;

    h3 {
        color: white;
        text-transform: uppercase;
        margin-bottom: .8rem;


    }

    ul {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        padding: 0 !important;
    }

    li {
        list-style-type: none;
        color: white;
        margin-bottom: 1rem;
        font-weight: 600;

        button {
            align-self: top;
        }

    }
}


.checklist-container{

    
}