<app-mainTemplate>
    <div class="welcome">
        <h1>Check-List</h1>
    </div>
    <div class="content">
        <div class="choose-menu">
            <div class="confirm-menu">
                <h3>Selecione o casal</h3>
                <div class="form-floating">
                    <select class="form-control" id="floatingInputGroup1" placeholder="Nome do casal">
                        <option *ngFor="let couple of receivedNames"  [value]="couple">{{couple}}</option>
                    </select>
                    <label for="floatingInputGroup1">Nome do casal</label>
                </div>

            </div>
            <div class="menu">

            </div>
            <div class="btn-menu">
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary" type="button">Editar</button>
                    <button class="btn btn-primary" type="button">Confirmar</button>
                  </div>
            </div>
        </div>
        <div class="checklist-container">
            <div class="checklist">
                <div class="utensils">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>

                    </ul>
                </div>
                <div class="fruits">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>

                    </ul>
                </div>
                <div class="drinks">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>

            
            <div class="btn-checklist">
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary" type="button">Editar</button>
                    <button class="btn btn-primary" type="button">Confirmar</button>
                  </div>
            </div>
        </div>
    </div>
</app-mainTemplate>
