.content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.content>div {
    max-width: 320px;
    width: 100%;
}


.choose-menu {
    flex: 0 1 auto;
    max-width: 320px;
    width: 100%;
    background-color: rgba(46, 46, 46, 0.5);
    border-radius: 10px;
    margin: 1.2rem;
    padding: .8rem;

}

.title {
    margin: 1.2rem 0;
    text-align: center;

    h2 {
        color: white;

    }


}

.confirm-menu {
    max-height: 100px;

    h3 {
        color: white;
        text-align: center;
    }

    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;

    select {
        background-color: #414141;
        color: white;
    }

    label {
        color: white;
        background-color: transparent !important;
    }


}


.form-floating label::after {
    background-color: transparent !important;

}

input {
    background-color: #414141;
    color: white;


}

.mt-2 {
    display: flex;

}

.newItemMenu input {
    margin-right: .3rem !important;

}

input::placeholder {
    color: white !important;
}


.btn-menu {
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
}

.btn-menu {

    button {
        display: flex;
        height: 30px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }

}

.menu {
    border: 1px solid red;
    padding: .8rem;
    border-radius: 10px;
    background-color: black;

    h3 {
        text-align: center;
        color: white;   
        text-transform: uppercase;
        margin-bottom: .8rem;


    }

    ul {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        padding: 0 !important;
    }

    li {
        list-style-type: none;
        color: white;
        margin-bottom: 1rem;
        font-weight: 600;

        button {
            align-self: top;
        }

    }
}


.checklist {
    background-color: rgba(46, 46, 46, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;

    div {}

    ul {
        padding: 0 !important;
    }

    li {
        display: flex;
        width: 100%;
        list-style-type: none;
        border: 1px solid white;

    }

    h4,
    li,
    input {
        color: white;
        padding: .3rem .3rem;
    }

    input,
    button {
        border: none;
        border-radius: 10px;
        margin: .3rem;


    }

    .addButton {
        margin-bottom: 1rem;

    }

    


}

input:focus {
        background-color: #414141;
        color: white;
        outline: none;
        box-shadow: none;
    }