.image-mrdrink{
    background-image: url(../../../assets/image/mr-drink.png);
    background-size: 150px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
}
input {
    width: 250px;
    margin: 15px;

}
.forgot-password{
    color: white;
}